


	<!--  start about section  -->
  <section class="services_home" style="background:black">
		<div class="wrapper">
          <%= image_tag "fulllogo.png", class:"songah" %>
			<ul>
				<li>
					<br>
          <h1 style="color:white font-family:">Rnim minim veniaisi</h1><hr>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
          <br>
					<h1>Integer rhoncus libero</h1><hr>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
          <br>
					<h1>magna vitae diaculis</h1><hr>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
			</ul>
		</div>
	</section>
	<!--  end about section  -->


	<!--  start team section  -->
	<section class="team" style="background:black" >
		<div class="wrapper clearfix">
			<h2 class="stages" style="border: solid">Meet The SongAh Team</h2>
      <br>
			<ul>
        <div class="paddingtop">
				<li>
					<div class="team_pic text-center">
						<%= image_tag "shahmin.jpg" %>
					</div>
					<h3 class="team_name">Shahmin Razali</h3>
          <br>
					<h4 class="team_job">Scraper</h4>
				</li>
				<li>
					<div class="team_pic">
						<%= image_tag "tun.jpg" %>
					</div>
					<h3 class="team_name">Tun Amsyar</h3>
          <br>
					<h4 class="team_job">Back End Developer</h4>
				</li>
				<li>
					<div class="team_pic">
						<%= image_tag "khai.jpg" %>
					</div>
					<h3 class="team_name">Khai Wyon</h3>
          <br>
					<h4 class="team_job">Front End Developer</h4>
				</li>
      </div>
			</ul>
		</div>
	</section>
	<!--  end team section  -->


	<!--  start call to action section  -->
	<section class="cta" style="background:antiquewhite">
		<h4>We are recruiting for team members!</h4>
		<a href="contact" class="cta_btn">Join Us <%= image_tag "cta_arrow.png" %></a>
	</section>
	<!--  end call to action section  -->
