	<!--  stat page title  -->
	<section class="page_title">
			<h1 class="title">Our Services</h1>
	</section>
	<!--  end page title  -->


	<!--  start services section  -->
	<section class="services clearfix">
		<div class="wrapper">
			<ul>
				<li>
					<h1>Rnim minim veniaisi</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
					<h1>Integer rhoncus libero</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
					<h1>magna vitae diaculis</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
					<h1>Rnim minim veniaisi</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
					<h1>Integer rhoncus libero</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
				<li>
					<h1>magna vitae diaculis</h1>
					<p>Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.</p>
				</li>
			</ul>
		</div>
	</section>
	<!--  end services section  -->


	<!--  start process section  -->
	<section class="process">
		<div class="wrapper">
			<h2 class="title">Our Process</h2>
			<ul>
				<li>
					<div class="stages">
						<%= image_tag "research_icon.png" %>
						<h3>Research</h3>
					</div>
					<hr class="process_sep"/>
				</li>
				<li>
					<div class="stages">
						<%= image_tag "design_icon.png" %>
						<h3>Research</h3>
					</div>
					<hr class="process_sep"/>
				</li>
				<li>
					<div class="stages">
						<%= image_tag "develop_icon.png" %>
						<h3>Research</h3>
					</div>
					<hr class="process_sep"/>
				</li>
				<li>
					<div class="stages">
						<%= image_tag "test_icon.png" %>
						<h3>Research</h3>
					</div>
					<hr class="process_sep"/>
				</li>
				<li>
					<div class="stages">
						<%= image_tag "launch_icon.png" %>
						<h3>Research</h3>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--  end process section  -->


	<!--  start call to action section  -->
	<section class="cta">
		<h4>Geady to talk business!</h4>
		<a href="#" class="cta_btn">Get In Touch <%= image_tag "cta_arrow.png", class:"cta_arrow" %></a>
	</section>
	<!--  end call to action section  -->
