<!--  stat page title  -->
	<section class="page_title">
			<h1 class="title">Our Work</h1>
	</section>
	<!--  end page title  -->


	<!--  start projects section  -->
	<section class="work clearfix">
		<div class="wrapper">
			<article class="project1">
				<div class="media">
					<%= image_tag "project1.jpg" %>
				</div>
				<div class="details">
					<a href="work_details.html">
						<h1>Excepteur occaecat cupidatat</h1>
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...</p>
					<a href="work_details.html" class="link_details">details <span class="details_icon"></span></a>
				</div>
			</article>
			<article class="project2">
				<div class="media">
					<%= image_tag "project2.jpg" %>
				</div>
				<div class="details">
					<a href="work_details.html">
						<h1>Excepteur occaecat cupidatat</h1>
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...</p>
					<a href="work_details.html" class="link_details">details <span class="details_icon"></span></a>
				</div>
			</article>
			<article class="project3">
				<div class="media">
					<%= image_tag "project3.jpg" %>
				</div>
				<div class="details">
					<a href="work_details.html">
						<h1>Excepteur occaecat cupidatat</h1>
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...</p>
					<a href="work_details.html" class="link_details">details <span class="details_icon"></span></a>
				</div>
			</article>
			<div class="more_projects">
				<a href="#" class="all_work">Show More</a>
			</div>
		</div>
	</section>
	<!--  end projects section  -->


	<!--  start clients section  -->
	<section class="clients">
		<div class="wrapper">
      <ul>
        <li><%= image_tag "google.png" %></li>
        <li><%= image_tag "facebook.png" %></li>
        <li><%= image_tag "yahoo.png" %></li>
        <li><%= image_tag "paypal.png" %></li>
      </ul>
		</div>
	</section>
	<!--  end clients section  -->
