
	<!--  stat page title  -->
	<section class="page_title">
			<h1 class="title">Excepteur occaecat cupidatat</h1>
	</section>
	<!--  end page title  -->


	<!--  start work details section  -->
	<section class="work_details clearfix">
		<div class="wrapper">
			<p class="intro">Integer pharetra tellus varius dictum erat vel, maximus tellus Sed vitae auctor ipsum. Aliquam luctus erat nec pulvinar vehicula. Donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent tincidunt mi orci, in sollicitudin mi dapibus dapibus.</p>
			<div class="columns">
				<%= image_tag "work1.jpg", class:"col_left" %>
			  <%= image_tag "work2.jpg", class:"col_right" %>
			</div>
			<div class="columns">
				<%= image_tag "work3.jpg" %>
			</div>
		</div>
	</section>
	<!--  end work details section  -->


	<!--  start clients section  -->
	<section class="clients">
		<div class="wrapper">
      <ul>
        <li><%= image_tag "google.png" %></li>
        <li><%= image_tag "facebook.png" %></li>
        <li><%= image_tag "yahoo.png" %></li>
        <li><%= image_tag "paypal.png" %></li>
      </ul>
		</div>
	</section>
	<!--  end clients section  -->
