  <div id="container" align="center">
    <div class= "bgblack">
      <!-- <video width="1480" height="1000" autoplay>
        <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"/>
      </video> -->

        <iframe title="YouTube video player" volume="0" frameborder="0" width="981px" height="800" src="https://www.youtube.com/embed/b6vSf0cA9qY?autoplay=1&iv_load_policy=3">
        </iframe>

      <div id="custom-message">Welcome to</div>
      <div id="custom-message">SongAh</div>
      <div class="line">
        . . . . . . . . . . . . .
      </div>
      <div class="arrow">
        <%= image_tag "next.png" %>
      </div>
      <div class="intro">
        Build your perfect Spotify
      </div>
      <div class="intro" style="top:-490px">
        playlist with us
      </div>
      <div class="click2" style="z-index:999">
        <div class="sessions">
          <button name="commit">
            Get Started
          </button>
        </div>
      </div>
      <%= image_tag "fulllogo.png" %>
      <div id="custom-message" style="top:-480px">
        Connect with us :
      </div>
      <div class ="facebook">
        <%= fa_icon 'facebook-official 5x', class: 'contacticons' %>
        <%= fa_icon 'instagram 5x', class: 'contacticons' %>
        <%= fa_icon 'twitter 5x', class: 'contacticons' %>
        <%= fa_icon 'spotify 5x', class: 'contacticons' %>
      </div>
    </div>
  </div>

	<section class="work clearfix", style="background: black">
		<div class="wrapper">
      <hr>
      <div class="titleattribute">
        <div class="songah">
			<h2 class="title">Thank You</h2>
      <hr>
      </div>
    </div>
		</div>
	</section>
