<header>
  <div class="wrapper">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"logo" %>
    <% end %>

    <nav>
      <ul>

        <div class="headerfont">
          <li ><%= link_to "", auto_index_path, class:"fa fa-magic" %></li>
          <li ><%= link_to "", song_index_path, class:"fa fa-search" %></li>

          <% if current_user %>

            <li ><%=link_to Playlist.find_by(id: cookies[:current]).playlist_name, playlist_index_path(playlist_id: cookies[:current]), class:"fa fa-bars"%></li>
            <li><h7><%= current_user.username %><h7><h6><%= link_to "Logout", session_path(current_user, @current), method: :delete %> <h6></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %><li>
            <li><%= link_to "Login" , new_session_path %></li>
          <% end %>

      </div>
      </ul>
    </nav>
  </div>
</header>
