<!--  start header  -->
<header>
  <div class="wrapper">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"logo" %>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to "About", about_path %><li>
        <li><%= link_to "Services", service_path %><li>
        <li><%= link_to "Work", work_path %><li>
          <% if current_user %>
            <li><%=link_to "#{current_user.username}" %></li>
            <li><%=link_to "Logout", session_path(current_user), method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_session_path %></li>
            <li><%= link_to "Register", new_user_path %><li>
          <% end %>

        <li><%= link_to "Contact", contact_path %><li>
      </ul>
    </nav>
  </div>
</header>
<!--  end header  -->
