<header>
  <div class="wrapper">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"logo" %>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to "About", about_path %><li>
        <li><%= link_to "Contact", contact_path %><li>
        <li><%= link_to "Player", player_path %><li>

        <div class="headerfont">
        <% if current_user %>
          <%= current_user.username %>
          <li><%= link_to "Logout", session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_path %><li>
          <li><%= link_to "Login" , new_session_path %></li>
        <% end %>
      </div>
      </ul>
    </nav>
  </div>
</header>
