<div class="users">
  <div class="page-container">
    <div class="background-khai">
      <h1 class="whitefont"> Create Playlist </h1>
      <%= form_for(@playlist, url: playlist_index_path, method: :post, html: { id: "user-create-form" }) do |f| %>
        <%= f.text_field :playlist_name, required: true, id: "playlist_name_field", class: 'username', placeholder: "Playlist Name" %>
        <%= f.submit "Create Playlist", class: "btn btn-default button2" %>
      <% end %>
    </div>
  </div>
</div>

<section class="parent1">
  <div class="child1">
    Users Playlist listed here
    <table>
    <%@user_playlist.each do |p|%>
    <tr>
      <td>
        <%=p.playlist_name%><br>
      </td>
    </tr>
    <tr>
      <td>
      <%=p.user_id%><br>
    </td>
  </tr>
    <%end%>
  </table>
  </div>
  <div class="child1">
    The songs from playlist listed here <br>
    <table>
    <%@playlist_items.each do |p|%>
    <tr>
      <td>
        <%=p.song_id%><br>
      </td>
    </tr>
    <tr>
      <td>
      <%=p.playlist_id%><br>
    </td>
  </tr>
    <%end%>
  </table>
  </div>

</div>
<div class="child1">
  The songs from playlist listed here <br>
  <table>
  <%@songs.each do |p|%>
  <tr>
    <td>
      Title: <%=p.title%><br>
    </td>
  </tr>
  <tr>
    <td>
    Artist: <%=p.artist%><br>
  </td>
</tr>
<tr>
  <td vertical-align="middle">
      <iframe src="https://embed.spotify.com/?uri=<%=p.spotify%>" width="700" height="80" frameborder="0" allowtransparency="true"></iframe>
      <%=fa_icon "minus 1x"%>
      <i vertical-align="middle" class="fa fa-minus" aria-hidden="true"></i>

</td>
</tr>
  <%end%>
</table>
</div>
</section>
